body {	
	font-family: Helvetica, sans-serif;
	font-color:#cc0000;
	background-color: red;
			}

.navigation {	
	position: fixed;
	background-color:yellow;
	width:100%;
	height: 75px;
	margin-top: -20px;
	margin-left: 0px;
			}

.navigation a {	
	color:#FFFFFF;
			}

.navigation a:hover {
	color:#cc0000;
			}

.slider {width: 100%;
		height: 400px;}

.container {
	width:75%;
	float: center;
	padding: 10px;
	background-color: blue;}

ul {
	font-family:Helvetica, sans-serif;
	color:#c0c0c0;
	padding:10px 10px;
	list-style: none;
	list-style-position: inherit;
			}

a {
	text-decoration: none;
			}

li {
	padding: 10px;
}

li a:hover {
	color:#cc0000;
			}